# http://sourceware.org/gdb/wiki/FAQ: to disable the
# "---Type <return> to continue, or q <return> to quit---"
# in batch mode:
set width 0
set height 0
set verbose off
set output-radix 16

# at entry point - cmd1
target extended-remote :3333
#very important to load the patched binary
file target/aarch64-unknown-none-softfloat/release/kernel+ttables+symbols
load
set $pc=0x80000
b *0x801e4
c
del breakpoints
si
